@model StarWars3.Models.Unit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.AspNetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.AspNetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitLevel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitLevel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarFactotyRequiredLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarFactotyRequiredLevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
